body{
	height:100%;
	width:100%;
}

.authBackground{
	position:absolute;
	background-image: url("IMG/background.png");
    background-repeat: repeat;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
}

.authBox{
	position:absolute;
	height:400px;
	width:800px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -200px;
}

.authBoxBlurred{
	filter: blur(15px);
	opacity: 0.8;
	background-color: white;
}

.authText{
	position: relative;
	width:720px;
	height:138px;
	left: 50%;
	margin-left: -360px;
	margin-top: 100px;
	text-align: center;
}

.displayYato{
	position:relative;
	height:46px;
	margin-left: 250px;
	margin-top: 177px;
}

.yatoBackground{
	background-image: url("IMG/yato.png");
}

.authButton{
	position: relative;
	width: 100px;
	height: 35px;
	left: 50%;
	margin-left: -50px;
	margin-top: 25px;
 	border-radius: 10px;
 	border: 0px;
 	box-shadow: none;
 	background-color: #003051;
 	color: white;
}

.authButton:hover{
	background-color: #0063a7;
	cursor: pointer;
}

.hoverImage:hover{
	cursor: pointer;
	filter: brightness(160%);
}

.hoverBrown:hover{
	background-color: #965b1f !important;
	cursor: pointer;
}

.healthBarBack{
	position: absolute;
	width: 15px;
	height: 2px;
	left: 0px;
	bottom: -2px;
	background-color: dimgray;
}

.healthBarFront{
	position: absolute;
	height: 2px;
	left: 0px;
	bottom: -2px;
	background-color: red;
}

.healthBarBorder{
	position: absolute;
	width: 14px;
	height: 1px;
	left: 0px;
	bottom: -2px;
	border: 1px solid black;
}

.weaponRankBar{
	position: absolute;
	height: 3px;
	left: 0px;
	bottom: -3px;
	background-color: red;
}

.weaponRankBorder{
	position: absolute;
	width: 29px;
	height: 2px;
	left: 0px;
	bottom: -3px;
	border: 1px solid black;
}

.characterInfo{
	background-color: #DAAC5E;
	height: 218px;
	width: 631px;
	position: relative;
	font-family: "Verdana";
}

.infoElement{
	position: absolute;
	border-radius: 10px;
}

.indentedStatLabel{
	position: absolute;
	font-size:12px;
	margin-left:10px;
	margin-top:5px;
}

.indentedStat{
	position: absolute;
	margin-left:50px;
	margin-top:2px;
}

.largeIndentedStat{
	position: absolute;
	margin-left:60px;
	margin-top:2px;
}

.indentedWeaponName{
	position: absolute;
	margin-left:10px;
	margin-top:5px;
}

.indentedExpMovLabel{
	position: absolute;
	font-size:12px;
	margin-left:25px;
	margin-top:5px;
}

.indentedExpMovText{
	position: absolute;
	margin-left:55px;
	margin-top:3px;
}

.rightIndented{
	position: absolute;
	margin-top:5px;
}

.HPText{
	font-size:12px;
	position: absolute;
	margin-left:15px;
	margin-top:20px;
}

.currHPText{
	font-size:35px;
	position: absolute;
	margin-left:40px;
	margin-top:5px;
}

.totalHPText{
	font-size:25px;
	position: absolute;
	margin-left:90px;
	margin-top:10px;
}

.popOutHeader{
	margin-top:5px;
}

.popOutBody{
	margin-top:25px;
}

.popOutText{
	font-size:12px;
	position: absolute;
	margin-left:5px;
	margin-right:5px;
}

.personalSkillHeader{
	margin-top:20px;
}

.personalSkillBody{
	margin-top:40px;
}

.debuffBody{
	margin-top:54px;
}

.weaponBuffBody{
	margin-top:67px;
}

.pairUpBody{
	margin-top:80px;
}

.centerText{ text-align: center; }
.rightText{ text-align: right; }
.whiteText{ color: white; }
.redText{ color: #491107; }
.tanText{ color: #E5C68D; }
.boldText{ font-weight: bold; }
.italicText{ font-style: italic; }

.navy{ background-color: #332F40; }
.paleTan{ background-color: #E5C68D; }
.lightTan{ background-color: #e5d0aa; }
.darkTan{ background-color: #BA7228; }
.green{ background-color: #216619; }
.blackBorder{ border: 1px solid black; }

.skillGemPos{
	width:16px;
	margin-left:605px;
	height:16px;
}

.skillGemInfoPos{
	width:250px;
	margin-left:350px;
	height:150px;
}

.statsPos{
	width:85px;
	margin-left:250px;
	height:24px;
}

.statInfoPos{
	width:250px;
	margin-left:340px;
	height:105px;
}

.atkHitPos{
	width:130px;
	margin-left:10px;
	height:26px;
}

.critAvoPos{
	width:120px;
	margin-left:120px;
	height:26px;
}

.movExpPos{
	width:85px;
	margin-left:155px;
	height:25px;
}

.HpPos{
	width:165px;
	margin-left:10px;
	margin-top:90px;
	height:55px;
}

.classLvlPos{
	margin-top:55px;
	height:30px;
}

.pairUpIcoPos{
	width:16px;
	margin-left:570px;
	margin-top:192px;
	height:16px;
}

.pairUpInfoPos{
	width:150px;
	margin-left:415px;
	margin-top:53px;
	height:160px;
}

.weaponRankPos{
	width:75px;
	margin-top:184px;
	height:24px;
}

.itemsPos{
	width:250px;
	margin-left:345px;
	height:30px;
}

.charNamePos{
	font-size:25px;
	width:230px;
	margin-left:10px;
	margin-top:10px;
	height:40px;
}